<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleSmartCam.Properties.Settings.SmartCamConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SmartCam;Persist Security Info=True;User ID=sa;Password=Folukemi79#"
            providerName="System.Data.SqlClient" />
      <!--<add name="ConsoleSmartCam.Properties.Settings.SmartCamConnectionString"
           connectionString="Data Source=172.27.15.29;Initial Catalog=SmartCam;Persist Security Info=True;User ID=sa;Password=Folukemi79#"
           providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>